<!-- make a page with details, that has a section divided in four in which those sections each one has 4 sections with different color -->
<div class="main">
  <h1>Detalles de la partida</h1>
  <div class="content">
    <div class="player-tile">
      <h2>JUGADOR #</h2>
      <div class="container">
        <div class="section">
          <app-chart [chartId]="'id1'"></app-chart>
        </div>
        <div class="section">
          <app-chart [chartId]="'id2'"></app-chart>
        </div>
        <div class="section">
          <app-chart [chartId]="'id4'"></app-chart>
        </div>
        <div class="section">
          <app-chart [chartId]="'id3'"></app-chart>
        </div>
      </div>
    </div>
    <div class="player-tile">
      <h2>JUGADOR #</h2>
      <div class="container">
        <div class="section">Section 1</div>
        <div class="section">Section 2</div>
        <div class="section">Section 3</div>
        <div class="section">Section 4</div>
      </div>
    </div>
    <div class="player-tile">
      <h2>JUGADOR #</h2>
      <div class="container">
        <div class="section">Section 1</div>
        <div class="section">Section 2</div>
        <div class="section">Section 3</div>
        <div class="section">Section 4</div>
      </div>
    </div>
    <div class="player-tile">
      <h2>JUGADOR #</h2>
      <div class="container">
        <div class="section">Section 1</div>
        <div class="section">Section 2</div>
        <div class="section">Section 3</div>
        <div class="section">Section 4</div>
      </div>
    </div>
  </div>
</div>
