<div class="footer">
  <div class="dev-wrap">
    <div>
      <div class="dev">
        <img
            src="https://avatars.githubusercontent.com/u/73953191?v=4"
            alt="Radomir"
        />
      </div>
      <div class="dev-data">
        <p>Nombre: <span>Radomir Vladislavic</span></p>
        <p>Email: <span>radomir.vladislavic@ucb.edu.bo</span></p>
        <p>Celular: <span>+591 - 70640976</span></p>
      </div>
    </div>
    <div>
      <div class="dev">
        <img
            src="https://avatars.githubusercontent.com/u/22847626?v=4"
            alt="Ignacio Illanes"
        />
      </div>
      <div class="dev-data">
        <p>Nombre: <span>Ignacio Illanes</span></p>
        <p>Email: <span>ignacio.illanes@ucb.edu.bo</span></p>
        <p>Celular: <span>+591 - 67150825</span></p>
      </div>
    </div>
    <div>
      <div class="dev">
        <img
            src="https://avatars.githubusercontent.com/u/83316300?v=4"
            alt="Sebastian Belmonte"
        />
      </div>
      <div class="dev-data">
        <p>Nombre: <span>Sebastian Belmonte</span></p>
        <p>Email: <span>sebastian.belmonte@ucb.edu.bo</span></p>
        <p>Celular: <span>+591 - 75887878</span></p>
      </div>
    </div>
    <div>
      <div class="dev">
        <img
            src="https://avatars.githubusercontent.com/u/102682441?v=4"
            alt="Chris Apaza"
        />
      </div>
      <div class="dev-data">
        <p>Nombre: <span>Chris Apaza</span></p>
        <p>Email: <span>chris.apaza@ucb.edu.bo</span></p>
        <p>Celular: <span>+591 - 79598058</span></p>
      </div>
    </div>
  </div>
</div>