<div class="background"></div>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Capacidad</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let room of rooms">
      <tr *ngIf="room.members.length !== 4">
        <td>{{room.roomName}}</td>
        <td>{{room.members.length}}/4</td>
        <td>
          <button class="btn btn-primary" *ngIf="room.canJoin" (click)="joinRoom(room.roomId)">Unirse</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<div class="table">
  <button class="button" (click)="createRoom()">Crear sala</button>
</div>
