.background::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
}

.background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(https://thealanmc.github.io/PDSM-IoT-Robot/assets/images/background.jpg);
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
  overflow: clip;
}

.login-card {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5rem;
  width: 85vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* landscape mode */
  @media (orientation: landscape) {
      width: 50vw;
      height: 50vh;
  }

  .logo {
    height: 50%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 100%;
      max-width: 80%;
      object-fit: cover;
    }
  }

  .user-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    input {
      width: 80%;
    }

    .btn {
      width: 50%;
    }
  }

}

/* Responsive Styles */
@media (max-width: 600px) {
  .login-card {
    padding: 10px;
  }

  .logo img {
    max-width: 80px;
  }

  .form-group {
    margin-bottom: 15px;
  }
}
