.login-card {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 100px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}  

.btn {
    padding: 10px 20px;
}

img {
    height: 50px;
    width: 60px;
}