<div class="login-container">
    <div class="login-card">
        <div class="logo">
        <img src="../../../assets/logo.png" alt="Logo">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="username" placeholder="Nombre de usuario">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Enviar</button>
    </form>
    </div>
</div>  