<app-navbar></app-navbar>
<table>
    <thead>
    <tr>
        <th>Robot ID</th>
        <th>Robot IP</th>
        <th>Red</th>
        <th>En Linea</th>
        <th>Disponible</th>
        <th>Conectar</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let robot of availableRobots">
            <td>{{ robot.robotId }}</td>
            <td>{{ robot.robotIp }}</td>\
            <td>{{ robot.isOnline }}</td>
            <td>{{ robot.isAvailable }}</td>
            <td><button (click)="onSelectedRobot(robot)">Conectar</button></td>
        </tr>
    </tbody>
</table>
<app-footer></app-footer>