<div class="content">
  <div class="player-tile">
    <h2>JUGADOR #1</h2>
    <div class="container">
      <div class="section">
        <canvas id="chartLeftMotor1"></canvas>
      </div>
      <div class="section">
        <canvas id="chartRightMotor1"></canvas>
      </div>
      <div class="section">
        <canvas id="chartServoAngle1"></canvas>
      </div>
    </div>
  </div>

  <div class="player-tile">
    <h2>JUGADOR #2</h2>
    <div class="container">
      <div class="section">
        <canvas id="chartLeftMotor2"></canvas>
      </div>
      <div class="section">
        <canvas id="chartRightMotor2"></canvas>
      </div>
      <div class="section">
        <canvas id="chartServoAngle2"></canvas>
      </div>
    </div>
  </div>

  <div class="player-tile">
    <h2>JUGADOR #3</h2>
    <div class="container">
      <div>
        <div class="section">
          <canvas id="chartLeftMotor3"></canvas>
        </div>
        <div class="section">
          <canvas id="chartRightMotor3"></canvas>
        </div>
      </div>
      <div class="section">
        <canvas id="chartServoAngle3"></canvas>
      </div>
    </div>
  </div>

  <div class="player-tile">
    <h2>JUGADOR #4</h2>
    <div class="container">
      <div class="section">
        <canvas id="chartLeftMotor4"></canvas>
      </div>
      <div class="section">
        <canvas id="chartRightMotor4"></canvas>
      </div>
      <div class="section">
        <canvas id="chartServoAngle4"></canvas>
      </div>
    </div>
  </div>
</div>
